<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" style="float:right;" onclick="window.parent.postMessage('closeDialog');">
    <i class="material-icons">close</i>
</button>
<h2 style="font-weight: 200;">HAN Chat</h2>


<div style="height:455px;overflow:auto;" id="chatList">
    <!-- Insert list -->
    ${allMessages}
</div>

<span style="width:100%;">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:92%">
        <input class="mdl-textfield__input" type="text" id="chatMsg">
        <label class="mdl-textfield__label" for="chatMsg">Message</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="sendMsg();">
        <i class="material-icons">send</i>
    </button>
</span>
<script>
    function updateScroll(){
        var element = document.getElementById("chatList");
        element.scrollTop = element.scrollHeight;
    }
    updateScroll();
    
    // On new message add to page
    window.onmessage = e=>{$("#chatList").append(e.data);updateScroll();};

    // On enter send message
    $("#chatMsg").keydown(e=>{
        if (e.key == "Enter") {
            sendMsg();
        }
    });

    function sendMsg() { // push message
        window.parent.postMessage("sendHANMsg\`"+ $("#chatMsg").val(), "*");
        $("#chatMsg").val("");
    }
</script>