<!-- Style for title preview -->
<style>
    h2 {
        font-size: 20px;
        line-height: 0px;
    }
    .mw-editsection {
        display: none;
    }
</style>
<h2 style="font-weight: 200;font-size:45px;line-height: 48px;">New Talk Page Message</h2>
<form id="newMsgForm">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
        <input class="mdl-textfield__input" type="text" id="trgtUsrVisualBox" value="`+ rw.info.targetUsername(un) +`" readonly>
        <label class="mdl-textfield__label" for="trgtUsrVisualBox">Target</label>
        <div class="mdl-tooltip" for="trgtUsrVisualBox">
            To target a different user, please visit their userpage.
        </div>
    </div>
<span id="previewContainer" style="display:none;">
    <!-- EDIT BUTTON -->

    <span id="editBtn" class="material-icons" style="font-size: 16px;padding-bottom: 3px;float: right;padding-right: 5px;cursor: pointer;" onclick="$('#previewContainer').hide();$('#editorContainer').show();">
        create
    </span>

    <div id="preview" style="height: 150px; overflow-y: auto; width:100%;"> <!-- do not use max-height as this moves the buttons and makes it hard for muscle memory-->
        
    </div> <!-- Used to show preview-->
</span>

<span id="editorContainer">
    <span id="previewBtn" class="material-icons" style="font-size: 16px;padding-bottom: 3px;float: right;padding-right: 5px;cursor: pointer;" onclick="$('#previewContainer').show();$('#editorContainer').hide();grabPreview();">
        visibility
    </span>
    <div id="editor">
        <textarea id="wikiTxt" name="wikiTxt" style="height: 150px; max-height: 150px; overflow-y: auto; width:100%;">
== Your Message Title ==
Your message here. ${rw.sign()}
        </textarea>
    </div> <!-- Used to edit Wikitext -->
</span>
</form>

<span style="float:right;">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="window.parent.postMessage('closeDialog', '*');">
        CANCEL
    </button>
    <button id="submitBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="sendMessage();">
        `+ (buttonTxt == null ? "SEND MESSAGE" : buttonTxt) +` <!-- if custom asked for, give custom button txt, else -->
    </button>
</span>

<script>
        // Handle incoming data
    window.onmessage = function(e){
        if (e.data.action == 'parseWikiTxt') {
            $("#preview").html(e.data.result); // Set preview to content
        }
    };

    function pushToast(text) {window.parent.postMessage('pushToast\\\`' + text);} // Push toast to host

    function grabPreview() {
        var wikiTxt = document.getElementById("wikiTxt").value;
        if (!wikiTxt.includes("${rw.sign()}")) {
            // Not signed, warn
            pushToast("Don't forget to sign your message!");
        }
        window.parent.postMessage('generatePreview\\\`'+ wikiTxt, '*');
    }

    function sendMessage() {
        // Send it!
        var data = $('#newMsgForm').serializeArray().reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
                }, {}); // form data

        var wikiTxt = data.wikiTxt;
        if (!wikiTxt.includes("${rw.sign()}")) {
            // Not signed, warn
            pushToast("Sign your message with '${rw.sign()}'");
            return; // Do not continue
        }
        window.parent.postMessage('applyNotice\\\`' + document.getElementById("trgtUsrVisualBox").value + '\\\`' + wikiTxt + '\\\`' + "New message"); // Push upstairs and commit
        window.parent.postMessage("closeDialog"); // We done here. Top will refresh or reshow if error occurs.
    }
</script>